body {
    height: 100%;
    margin: 0;
    background-color: rgb(187, 128, 116);
    background-color: rgb(255, 255, 255);
    background-repeat: repeat,	no-repeat,	no-repeat;
    background-size: 50px 100px, cover,	cover;
    background-position: top left, center center,	bottom center;
    background-attachment: fixed, fixed,	fixed; 
    font-family: "source sans pro", Helvetica, sans-serif;
    font-weight: 300;
    height: 10%;
}
#main{
    width: 332px;
    margin: 30px auto;
background: rgb(128, 84, 84);
padding: 20px;
border-radius: 4px;
opacity: 0.96;
text-align: center;

}
#main h1{
text-transform: uppercase;
letter-spacing: 1.1px;
font-weight: lighter;
color:brown;
}
#main h2{
    letter-spacing: 1.1px;
    font-weight: lighter;
    color:black;
}
button {
    background-color: #4CAF50;
    color: rgb(231, 216, 216);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  button:hover {
    opacity: 0.8;
  }
ul{
list-style: none;
padding: 0;
margin: 0;
}
ul li{
display: inline-block;
}
.menu{
height: 60px;
text-align: right;
line-height: 60px;
}
nav a{
font-size: 20px;
padding: 0 20px 0 20px;
text-decoration: none;
color: #111;
text-shadow: 1px 1px 1px #eeeeee;
text-transform: uppercase;
font-weight: 600;

}
.menu{
    height: 80px;
    text-align: left;
    line-height: 60px;
}
.registerbutton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  registerbutton:hover {
    opacity: 0.8;
  }
  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 3px solid #8bb454;}
  
   input[type=text], input[type=password] {
    
    padding: 4px 4px;
    margin: 1px 0;
    
    border: 1px solid #ccc;
    box-sizing: border-box; 
  
   }
